<!-- app/views/devise/registrations/edit.html.erb -->
<div class="max-w-md mx-auto bg-white p-8 rounded shadow">
  <h2 class="text-2xl font-bold mb-4">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= render 'partials/image_upload', form: f %>

    <div class="mb-4">
      <%= f.label :first_name, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :first_name, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= f.label :last_name, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :last_name, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
      <%= f.email_field :email, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= f.label :weekly_email, class: "block text-sm font-medium text-gray-700" %>
      <%= f.check_box :weekly_email, class: "mt-1 block" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-sm font-medium text-gray-700" %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= f.label :current_password, class: "block text-sm font-medium text-gray-700" %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm" %>
    </div>

    <div class="flex items-center justify-between">
      <%= f.submit "Update", class: "bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600" %>
    </div>
  <% end %>
</div>
