<%= form_with model: blog_post, class: "space-y-6" do |form| %>
  <% if form.object.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <% form.object.errors.full_messages.each do |message| %>
        <div class="block"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="space-y-2">
    <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :title, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="space-y-2">
    <%= form.label :body, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :body, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="space-y-2">
    <%= form.label :published_at, class: "block text-sm font-medium text-gray-700" %>
    <%= form.datetime_select :published_at, include_blank: true%>
  </div>
  <%= form.button "Submit", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>

<% end %>
