<h1 class="text-2xl font-bold mb-4">Feedback</h1>

<%= form_with(model: @feedback, url: feedback_path, local: true, class: "space-y-6") do |form| %>
  <% if @feedback.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <h2 class="text-sm font-semibold"><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being sent:</h2>

      <ul class="mt-2 list-disc list-inside">
        <% @feedback.errors.full_messages.each do |msg| %>
          <li class="text-sm"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space-y-2">
    <%= form.label :email, class: "block text-sm font-medium text-gray-700" %>
    <%= form.email_field :email, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="space-y-2">
    <%= form.label :subject, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :subject, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="space-y-2">
    <%= form.label :body, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :body, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="flex items-center space-x-4">
    <%= form.submit 'Send', class: 'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
  </div>
<% end %>
